/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Layout */

.app__content {
  padding-block: var(--op-space-medium);
}

/* Form */

.field_with_errors,
trix-editor {
  grid-column: 1 / 3;
}

.trix-button-group--file-tools {
  display: none !important;
}

/* Utilities */

.grid-evenly-spaced {
  --min-size: calc(var(--op-size-unit) * 50); /* 200px */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-size), 1fr));
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-end: var(--op-space-medium);

  h1 {
    margin: 0;
  }
}
